{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}
    <!--CSS SPEC SALLE-->
        <link href="{{ asset('css/salle.css') }}" rel="stylesheet">
        <link href="{{ asset('css/concept.css') }}" rel="stylesheet">
    {% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block header %}
    
        
    <header id="headerSalle">
        <div class="intro-body">
            <div class="container intro">
                <div class="row">
                    <div class="col-sm-12 mx-auto">

                        <h1 class="brand-heading">
                            LPJ <br> LARGE <span class="vert_logo console"> PROJECT</span> JAM
                        </h1>
                        
                        <div class="barre-blanche col-sm-6"></div>
                        
                        <p class="intro-text">
                            créateur de votre solution de Gestion  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    {% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
    
    <div class="container">
        
        <div class="row">
            <!--Section Toutes nos salles-->
            <section class="col-lg-12">
                
                <h2>LE TEAM LPJ</h2>
                <h2>Simple, rapide, efficace</h2>
                <p>
                    Consultant Expert Filemaker, Membre Business Alliance, LPJ Sàrl vous apporte des solutions concrètes et originales, adaptées à vos besoins et exigences, quelques soient vos objectifs.

Ensemble, nous étudions votre projet afin de déterminer les moyens adaptés à sa mise en place.
                    <br>Une approche individualisée qui vous apporte des solutions concrètes et originales, adaptées précisément à vos besoins et à vos pratiques, au plus près de vos objectifs.
                </p>
                
                <hr>
                
                <h2>Ensemble</h2>
                <p>
                    Nous étudions votre projet afin de déterminer les moyens adaptés à sa mise en place.
                    Nous définissons, les moyens adaptés à la mise en œuvre de votre projet, et les objectifs devant être atteints à chaque étape.
                </p>
                
                <hr>
                
                <h2>Rencontre, de professionnel à professionnel</h2>
                <p>
                    Assurez un suivi professionnel, Gérer facilement vos Contacts, CRM user Friendly | courriers, email, follow Up, Gérez mieux votre temps, Mac Pc iPhone iPad, Multi-utilisateurs, Utilisation en réseaux hétérogènes et au travers d’Internet, Grande stabilité.
                </p>
                <h2>Réalisation</h2>
                <p>Vous aurez un seul interlocuteur responsable pour chacune des étapes. Avant le projet (conseils et conception), pendant le développement (développement, installation et formation) et après la mise en œuvre ( maintenance applicative), un seul interlocuteur parfaitement informé de votre fonctionnement et de vos contraintes, un seul numéro de téléphone.

Un temps de développement réduit, une communication optimisée, une aide efficace et instantanée, des relations directes et simplifiées : telles sont nos priorités
                </p>
            </section>
            
                +20 
            Ans

d'experience
            +30
projets
CRM Web Filemaker

Domaines

de spécialité
4
Experts

à votre écoute
            
      
            
            
            
            <!--Fin Section Toutes nos salles-->
        </div>
        
    </div><!--Fin div container-fluid-->



    {% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}