{% block stylesheets %}
    <link href="{{ asset('css/navTableauDeBord.css') }}" rel="stylesheet">
{% endblock %}


    <div class="row">
        <div class="col-sm-12 text-center fondNav">
                
                {#StatutMembre == locataire #}
                {% if statut.idStatutMembre.id == 1 %}
                   
                    <a href="http://localhost/EasyOffice/public/tableauDeBord" class="btn btn-outline-secondary"> Mon Profil </a>
                    <a href="http://localhost/EasyOffice/public/mesReservations" class="btn btn-outline-secondary"> Mes reservations </a>
                    <a href="http://localhost/EasyOffice/public/messagerie" class="btn btn-outline-secondary"> Messagerie </a>
                    
                {#StatutMembre == proprietaire / locataire #}
                {% elseif statut.idStatutMembre.id == 2 %}
                    <a href="http://localhost/EasyOffice/public/tableauDeBord" class="btn btn-outline-secondary"> Mon Profil </a>
                    <a href="http://localhost/EasyOffice/public/mesReservations" class="btn btn-outline-secondary"> Mes reservations </a>
                    <a href="http://localhost/EasyOffice/public/mesSalles" class="btn btn-outline-secondary"> Mes salles </a>
                    <a href="http://localhost/EasyOffice/public/offreSalle" class="btn btn-outline-secondary"> Proposer une salle </a>
                    <a href="http://localhost/EasyOffice/public/messagerie" class="btn btn-outline-secondary"> Messagerie </a>
                    
                {% endif %}
        </div><!-- FIN col-sm-12 -->
    </div><!-- FIN row -->

